<?xml version='1.0' encoding='utf-8'?>
<widget id="com.dormasaaktif.notificationwebhook"
        version="1.0.0"
        xmlns="http://www.w3.org/ns/widgets"
        xmlns:cdv="http://cordova.apache.org/ns/1.0">

  <name>Notification Webhook</name>
  <description>Send Android notifications to webhook</description>
  <author email="you@example.com" href="https://dormasaaktif.my.id">Dormasaaktif</author>

  <content src="index.html" />

  <preference name="AndroidXEnabled" value="true" />
  <preference name="android-minSdkVersion" value="23" />
  <preference name="android-targetSdkVersion" value="33" />

  <!-- INTERNET permission (buat kirim webhook) -->
  <platform name="android">
    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.INTERNET" />
    </config-file>
  </platform>

</widget>
