<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="com.dormasaaktif.notifaccess"
        version="1.0.0">

  <name>NotifAccess</name>

  <platform name="android">

    <!-- Internet permission (buat kirim webhook) -->
    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.INTERNET" />
    </config-file>

    <!-- Notification Listener Service -->
    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <service
          android:name="com.dormasaaktif.notifaccess.NotificationListener"
          android:label="Notification Listener"
          android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
          android:exported="true">
        <intent-filter>
          <action android:name="android.service.notification.NotificationListenerService" />
        </intent-filter>
      </service>
    </config-file>

    <!-- Pastikan file java ini BENERAN ADA di path ini -->
    <source-file src="src/android/NotificationListener.java"
                 target-dir="src/com/dormasaaktif/notifaccess" />
  </platform>

</plugin>
