<?xml version="1.0" encoding="UTF-8"?>
<plugin id="com.dormasaaktif.notifaccess"
        version="1.0.0"
        xmlns="http://apache.org/cordova/ns/plugins/1.0">

  <name>NotifAccess</name>
  <description>Open Notification Listener Settings and check status</description>
  <license>MIT</license>
  <keywords>notification,listener,permission,settings</keywords>

  <js-module src="www/notifaccess.js" name="NotifAccess">
    <clobbers target="NotifAccess" />
  </js-module>

  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="NotifAccess">
        <param name="android-package" value="com.dormasaaktif.notifaccess.NotifAccess" />
      </feature>
    </config-file>

    <source-file src="src/android/NotifAccess.java" target-dir="src/com/dormasaaktif/notifaccess" />
  </platform>
</plugin>
